.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', 'sans-serif';
  padding-top: 2em;

  background: linear-gradient(0deg, #e3fff1 0%, #ffffff 100%);
  padding: 4em 1.5em 2em;
}

.section__heading,
.wrapper__heading {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: clamp(2rem, 2.7vw, 3rem);
  color: #09ac91;
  margin: 0.3em 0;
}

.section__description,
.wrapper__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-align: right;
  color: #09ac91;
  text-align: left;
}

.heading--center,
.description--center {
  text-align: center;
}

.heading--big {
  font-size: clamp(2.5rem, 3.5vw, 3.8rem);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrapper__heading {
  text-align: right;
}

.wrapper--card {
  position: relative;
  align-items: center;
  flex: 2;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.section__title {
  font-size: 3rem;
  text-align: center;
}

.section--team {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper--text {
  flex-direction: column;
  flex: 1;
}

@media screen and (min-width: 1300px) {
  .main {
    padding: 8em 8em 2em;
  }

  .wrapper {
    flex-wrap: nowrap;
  }
}
