.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  min-height: 100vh;
  padding: 2em 4em;
  position: relative;

  background: linear-gradient(0deg, #e3fff1 0%, #ffffff 100%);
  border: 1px solid red;
}

.container {
  z-index: 2;
}

.title {
  margin: 1em 0;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.3rem, 5vw, 2.7rem);
  color: #000000;
}

.title__highlight {
  color: #3ee7ba;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(18.7rem, 60vw, 50rem);
  padding: 2em 1em;

  background: #e3fff1;
  border: 1px solid #000000;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  z-index: 100;
}

.modal__wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  /* border: 1px solid red; */
}

.modal__label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 123% */

  color: #09ac91;
}

.label--black {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.modal__input {
  width: 100%;
  resize: none;
  margin: 1em 0 2em;
  padding: 1em;

  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #09ac91;

  font-family: 'Inter';
  font-weight: 500;
}

.modal__input::placeholder {
  color: #e0e0e0;
  opacity: 1;
}

.modal__input:-ms-input-placeholder {
  color: #e0e0e0;
}

.modal__input::-ms-input-placeholder {
  color: #e0e0e0;
}

.input--error {
  background: #ffeceb;
  border: 1px solid #f15d4a;
}

.error-container {
  display: flex;
  align-items: center;
  margin: 0.4em 0;

  font-size: clamp(0.95rem, 3vw, 1.05rem);
  color: #ff5953;
}

.error-container__message {
  margin-left: 0.3em;
  font-family: 'Nunito';
  font-weight: 700;
  line-height: 32px;
}

.modal__button {
  width: 100%;
  padding: 0.5em;

  font-size: clamp(0.85rem, 3vw, 1rem);
  font-weight: 700;
  line-height: 32px;

  background: #3ee7ba;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000;
  transition: 0.2s all ease-in-out;

  opacity: 0.3;
}

.button--active {
  opacity: 1;
}

.button--active:hover {
  box-shadow: 6px 6px 0px #000000;
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45rem;
  z-index: 0;
}

@media screen and (min-width: 1024px) {
  .title {
    width: clamp(30rem, 60vw, 59rem);
  }
}
