.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  padding-top: 2em;

  background: #ffffff;
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 90%; */
  width: 100%;
  padding: 0 4em;
  margin: 1em 0;

  border: 1px solid red;
}

.container--left {
  align-items: flex-start;
}

.container--background {
  color: #ffffff;
  position: relative;
  height: 1347px;
  margin-top: 10em;
}

.container__background {
  width: 100%;
  height: 1347px;
  z-index: 0;
  position: absolute;
}

.container__image {
  position: absolute;
  width: 580px;
  top: -30%;
  right: 6%;
  border: 1px solid blue;
}

.container__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid red;
  margin-bottom: 1.5em;
}

.header__button {
  padding: 1em;
  border: 0;
  color: #fff;
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
}

.header__button:hover {
  background-color: hsl(0, 0%, 30%);
}

.button__icon {
  margin-right: 0.5rem;
}

.container__heading,
.container__percentages,
.container__heading--result {
  margin-bottom: 1rem;

  font-size: clamp(1.4rem, 2.7vw, 2.1rem);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  line-height: 68px;
  align-self: flex-start;
}

.container__heading {
  font-size: clamp(1.6rem, 3vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 2rem;
}

.container__result {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  font-size: clamp(2.7rem, 6vw, 6rem);
}

.container__subheading {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  font-size: 1.5rem;

  color: #09ac91;
}

.subheading--small {
  font-size: 1.3rem;
}

.subheading--yellow {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  align-self: flex-start;

  color: #ffd873;
}

.link {
  font-weight: 700;
  text-decoration-line: underline;
  color: #77c8d6;
}

.container__heading--result {
  margin-bottom: 0;
}

.container__percentages {
  font-weight: 800;
}

.container__description {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 44px;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  margin-bottom: 3em;
}

.no--margin {
  margin: 0;
}

.container--result {
  width: 84%;
  padding: 2em 3em;
  border: 1px solid green;
  margin-bottom: 2em;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.container__footer {
  display: flex;
  align-items: center;
  border: 1px solid blue;
}

.container-footer__title {
  font-size: 1.6rem;
  font-weight: 400;
}

.container-footer__icon {
  font-size: 1.6rem;
  margin-left: 0.5em;
}

.container-other-result {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  /* height: 104px; */
  max-height: 510px;
  overflow-y: scroll;
  /* overflow: hidden; */

  transition: height 0.5s ease-in-out;
  border: 1px solid red;
}

.result--expand {
  max-height: 510px;
  overflow-y: scroll;
}

.wrapper {
  padding-top: 12em;
  z-index: 10;
}

.card {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  height: 70px;

  padding: 0.5em 0;
  border-bottom: 2px solid #c4c4c4;
}

.card__wrapper {
  display: flex;
  flex: 40%;
  border: 1px solid red;
}

.card__heading {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

.container-other-result__wrapper h3 {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.container-other-result__wrapper h4 {
  font-weight: 400;
  color: rgb(51, 51, 51);
  font-size: clamp(0.7rem, 0.9vw, 1rem);
}

.container-other-result__wrapper-left,
.container-other-result__wrapper-right {
  display: flex;

  padding: 1em;
  height: 100%;
}

.container-other-result__wrapper-left {
  align-items: center;
  border-radius: 10px 0 0 10px;
  background: #696969;
}

.container-other-result__wrapper-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container--collect-data {
  width: 100%;
  align-items: center;

  background: #d8d8d8;
  margin-top: auto;
  margin-bottom: 0;
  padding: 2.5em 1.5em;
}

.heading--collect-data {
  font-size: clamp(1.1rem, 1.8vw, 2rem);
  font-weight: 700;
}

.wrapper-collect-data {
  margin-bottom: 3em;
  border: 1px solid red;
}

.wrapper__radio-button {
  margin-right: 5px;
}

.wrapper__label {
  font-size: clamp(1rem, 1.4vw, 1.3rem);
  margin-right: 1em;
}

input[type='radio']:checked + label {
  font-weight: bold;
}
