.container {
  display: flex;
  flex-direction: column;
  min-width: 200px;

  margin: 1em;
  padding: 1em;

  color: #09ac91;
  background: #ffffff;
  border: 2px solid #09ac91;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.container:hover {
  background: #09ac91;
  color: #fff;
  cursor: pointer;
}

.heading,
.description {
  font-family: 'Nunito';
}

.heading {
  font-weight: 700;
  font-size: clamp(1.4rem, 1.5vw, 2rem);
}

.description {
  font-size: 0.9rem;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 700px;
  }
}
