.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: calc(100vh - 80px);
  font-family: 'Inter', 'sans-serif';

  background: linear-gradient(0deg, #e3fff1 0%, #ffffff 100%);
  padding: 2em 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container__description {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
}

.container__heading,
.container__description,
.form__label {
  font-family: 'Nunito';
}

.container__heading,
.form__label {
  font-weight: 700;
  font-size: clamp(2rem, 4.5vw, 4.5rem);
  color: #09ac91;
}

.form__label {
  font-size: 20px;
  line-height: 32px;
}

.form__input,
.form__textarea {
  padding: 0.6em !important;
  border: 1px solid #09ac91 !important;
  border-radius: 5px !important;
}

.form__textarea {
  height: 325px;
  resize: none;
}

.form__button {
  width: 100% !important;
  padding: 0.5em;

  font-size: clamp(0.8rem, 3vw, 1rem) !important;
  font-weight: 700 !important;
  line-height: 32px !important;
  color: #000;

  background: #3ee7ba !important;
  border: 1px solid #000000 !important;
  border-radius: 5px !important;
  transition: 0.2s all ease-in-out;
}

.form__button:hover {
  box-shadow: 6px 6px 0px #000000;
}

.container__description {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 4em;
  color: #000000;
}

.container__image {
  display: none;
}

.section__home {
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
}

.section__message {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

.wrapper--row {
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-bottom: auto;
}

.errors {
  color: red;
  font-size: 0.8rem;
}

.section__form {
  min-height: 500px;
  margin-left: 0;
  padding: 1.5em;
  background: #e3fff1;
  border: 2px solid #000000;
  box-shadow: -12px 12px 0px #09ac91;
  border-radius: 10px;
}

.section__message,
.section__form {
  max-width: 900px;
}

@media screen and (min-width: 1025px) {
  .main {
    padding: 2em 4em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container {
  }

  .container__heading {
    line-height: 95px;
  }

  .section__home {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-left: 2em;
  }

  .wrapper--row {
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
  }

  .container__image {
    display: block;
    width: 35vw;
    height: 35vw;
    max-width: 500px;
    max-height: 500px;
    margin-left: -2.8em;
  }

  .section__form {
    margin-left: 1em;
  }
}
