.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', 'sans-serif';

  background: linear-gradient(0deg, #e3fff1 0%, #ffffff 100%);
  border: 1px solid red;
}

.container {
  display: flex;
  width: 100%;
}

.section__home {
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
  border: 1px solid yellow;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

.wrapper--row {
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-bottom: auto;
}

.wrapper__title {
  font-size: clamp(2.5rem, 6vw, 6rem);
  max-width: 700px;
  font-family: 'Nunito', 'sans-serif';
  font-weight: 700;
  margin-bottom: 0.5em;
}

.title--small {
  font-size: clamp(1.3rem, 2.7vw, 3rem);
  text-align: center;
  margin: auto 0 1em;
}

.wrapper__description {
  max-width: 550px;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  margin: 1em 0;
}

.image_wrapper {
  justify-self: flex-end;
  align-self: flex-end;
  border: 1px solid red;
}

.image {
  width: 100%;
}

.section__features {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.wrapper--left {
  background: none;
}

.wrapper--right {
  background: none;
}

.text_highlight {
  font-weight: 700;
  color: #09ac91;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: clamp(18rem, 33vw, 29rem);
  height: clamp(18rem, 33vw, 29rem);
  padding: 0 1em 2em;
  margin: 1em 0;

  text-align: center;
  color: #000;

  background: #ffffff;
  border: 3px solid #000000;
  transition: 0.3s all ease-in-out;

  border-radius: 10px;
}

.option_link {
  text-decoration: none;
}

.option__image {
  width: clamp(12.5rem, 20vw, 22rem);
  height: clamp(12.5rem, 20vw, 22rem);
}

.option__title {
  margin: -0.5em 0 0.5em;
  font-size: clamp(1.1rem, 2.2vw, 1.8rem);
}

.option__description {
  font-size: clamp(0.7rem, 1.2vw, 0.9rem);
}

@media screen and (min-width: 1025px) {
  .container {
    min-height: 100vh;
  }

  .container:first-child {
    min-height: calc(100vh - 80px);
  }

  .section__home {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-left: 2em;
  }

  .wrapper--row {
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
  }

  .image {
    width: min(50rem, 47vw);
    height: min(50rem, 47vw);
  }

  .section__features {
    justify-content: end;
    padding: 0;
    padding-bottom: 1em;
  }

  .option {
    justify-content: space-evenly;
    padding: 0 3em 2em;
  }

  .option:hover {
    box-shadow: -15px 15px 0px #09ac91, -30px 30px 0px #ffd873,
      -45px 45px 0px #000000;
  }

  .option--right:hover {
    box-shadow: 15px 15px 0px #09ac91, 30px 30px 0px #ffd873,
      45px 45px 0px #000000;
  }
}
