.modal {
  display: unset;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 11;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

.modal--inactive {
  display: none;
}

.modal__content {
  width: clamp(300px, 85vw, 2000px);
  margin: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal__header,
.modal__footer {
  padding: 1em;
}

.modal__body {
  height: 600px;
  padding: 2em 2em 0;
  padding-right: 1em;
  overflow-y: scroll;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.body--noPadding {
  padding: 0 2em;
}

.body__heading {
  margin-bottom: 2rem;

  font-family: 'Nunito';
  font-size: clamp(1.7rem, 3vw, 3.5rem);
  font-weight: 700;
}

.heading--big {
  font-size: clamp(2rem, 5.6vw, 6.5rem);
}

.body__description {
  width: 100%;
  max-width: 500px;
  font-size: clamp(1rem, 1.4vw, 1.7rem);
}

.body__image {
  height: 100%;
  max-height: 600px;
}

.body__wrapper > p {
  margin: 10px 0;
}

.modal__list {
  border: 1px solid red;
}

.list__links {
  list-style: none;
}

.list {
  border: 1px solid red;
}

.list__link {
  color: #000;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.list__link:hover {
  color: hsl(243, 100%, 60%);
}

.modal__links:hover {
  background: hsl(0, 0%, 80%);
}

.wrapper {
  margin: 1em 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  text-align: center;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.input-button {
  padding: 0.5em 2em;
  background: hsl(210, 90%, 40%);
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;

  border: 1px solid red;
}

.input-button:hover,
.input-button.active {
  background: hsl(210, 90%, 50%);
}

.radio-button {
  opacity: 1;
  width: 0;
}

.wrapper--download > * {
  margin: 1em 0;
}

.wrapper--buttons > * {
  margin-right: 0.5em;
}

.button--csv {
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  position: absolute;
}

@media screen and (min-width: 1025px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
  }
}
