.modal {
  display: block;
  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  overflow: auto;
  z-index: 10;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

.modal--inactive {
  display: none;
}

.modal__content {
  width: clamp(300px, 60vw, 1300px);
  margin: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal__header,
.modal__footer {
  padding: 1em;
}

.modal__body {
  height: 600px;
  padding: 2em 2em 0;
  padding-right: 1em;
  overflow-y: scroll;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.body__heading {
  margin-bottom: 2rem;

  font-family: 'Nunito';
  font-size: clamp(1.7rem, 3vw, 3.5rem);
  font-weight: 700;
}

.body__wrapper > p {
  margin: 10px 0;
}

.modal__list {
  border: 1px solid red;
}

.list__links {
  list-style: none;
}

.list {
  border: 1px solid red;
}

.list__link {
  color: #000;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.list__link:hover {
  color: hsl(243, 100%, 60%);
}

.modal__links:hover {
  background: hsl(0, 0%, 80%);
}

.wrapper {
  margin: 1em 0;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.input-button {
  padding: 0.5em 2em;
  background: hsl(210, 90%, 40%);
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;

  border: 1px solid red;
}

.input-button:hover,
.input-button.active {
  background: hsl(210, 90%, 50%);
}

.radio-button {
  opacity: 1;
  width: 0;
}

.wrapper--download > * {
  margin: 1em 0;
}

.wrapper--buttons > * {
  margin-right: 0.5em;
}

.button--csv {
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  position: absolute;
}
