.container {
  display: unset;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  z-index: 10;
}

.container--closed {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: clamp(20rem, 36vw, 39rem);
  height: clamp(20rem, 31vw, 33rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;

  background: #fff2f1;
  border: 3px solid #ff5953;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  z-index: 10;
}

.modal--closed {
  display: none;
}

.modal__image {
  width: clamp(10rem, 16vw, 17rem);
}

.modal__text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.4rem, 1.5vw, 2rem);
  line-height: 44px;

  text-align: center;

  color: #ff5953;
}

.modal__button {
  width: clamp(7rem, 11vw, 12rem);
  height: clamp(2.5rem, 3.5vw, 4rem);

  background: hsl(0, 0%, 100%);
  border: 1px solid #000000;
  border-radius: 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.2rem, 4.5vw, 1.5rem);
  text-align: center;
  color: #000000;
}

.modal__button:hover {
  background: hsl(0, 0%, 95%);
}
