.container {
  padding: 1em;

  background: #ffffff;
  border: 2px solid #09ac91;
  border-radius: 10px;
  border: 1px solid green;
}

.container__content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

.container__footer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.button {
  width: clamp(200px, 18vw, 350px);
  padding: 0.8em;

  font-family: 'Nunito';
  font-weight: 700;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  color: #ffffff;

  border: 2px solid #09ac91;
  background: #09ac91;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #fff;
  color: #09ac91;
  border: 2px solid #09ac91;
}

.button--white {
  background: #fff;
  color: #09ac91;
}

.button--white:hover {
  background: #09ac91;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .container__content {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
