.testimonial_container {
  /* min-height: 100vh; */
  margin: 1em 0;
  background: #c4c4c4;
  border: 1px solid red;
}

.shadow-effect {
  background: hsl(0, 0%, 80%);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid hsl(0, 0%, 80%);
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02); */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 15px 20px rgba(0, 0, 0, 0.05);
}
#shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

.img {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  object-position: center;
  transform-style: preserve-3d;
  margin: 0 auto 17px;
}

#customer-testimonoals {
  margin-top: 6%;
  border: 1px solid blue;
}

.carousel_container {
  display: flex;
  position: relative;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid red;
}

.carousel__icon {
  position: absolute;
  font-size: 2.5rem;
  border: 1px solid red;
  right: 0;
  margin-right: 10px;
  z-index: 10;
}

.icon--left {
  left: 0;
  margin-right: 0;
  margin-left: 10px;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  /* background: linear-gradient(100deg, #845EC2, #BE93FD); */
  background: linear-gradient(100deg, #ff8066, #ff918d);
  /* background: linear-gradient(135deg, #ff3e00, #eaa400); */
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12), 0px 5px 7px rgba(0, 0, 0, 0.5);
}
#customer-testimonoals .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 0px;
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}
#customer-testimonoals .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* #customer-testimonoals .owl-item.active.center .item:hover {
  border: 1px solid red;
} */

#customer-testimonoals .owl-item.active.center .item .shadow-effect:hover {
  border: 1px solid red;
}

.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
