.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  background: #c4c4c4;
}

.drop-file-input {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dragover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.drop-file-input__wrapper {
  text-align: center;
  /* font-size: 1.5rem; */
  font-size: clamp(1.1rem, 2vw, 2rem);
  font-weight: 600;
  padding: 10px;
  border: 1px solid red;
  cursor: pointer;
  z-index: 10;
}

.drop-file-input__wrapper:hover {
  opacity: 0.6;
}

.label-dragover {
  z-index: -1;
}

.wrapper__image {
  width: clamp(3rem, 7vw, 7rem);
}
